<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Kalyan's Trail Mail</h1>
    <p style="font-weight: 800">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad cum nisi
      amet, consectetur est fuga omnis ut accusamus. Ex facere adipisci laborum
      non veniam. Laborum dolores modi nisi suscipit. Minus?
    </p>
  </body>
</html>
